# refer https://github.com/haproxy/haproxy/blob/master/contrib/systemd/haproxy.service.in

[Unit]
Description=HAProxy Load Balancer
After=syslog.target network.target

[Service]
# User=haproxy
# Group=haproxy
Environment="CONFIG=/etc/haproxy.cfg" "PIDFILE=/run/haproxy.pid"
ExecStartPre=/usr/sbin/haproxy -f $CONFIG -c -q
ExecStart=/usr/sbin/haproxy -Ws -f $CONFIG -p $PIDFILE
ExecReload=/usr/sbin/haproxy -f $CONFIG -c -q
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Restart=always

Type=notify

[Install]
WantedBy=multi-user.target
