[mysqld]
lower_case_table_names=1
slave_parallel_type=LOGICAL_CLOCK
slave_parallel_workers=10
sync_binlog=1
innodb_flush_log_at_trx_commit=1
innodb_flush_log_at_timeout=1800

datadir=/var/lib/mysql
# --socket=path
# Socket file to use for local connections instead of default /tmp/mysql.sock.
# ./mysql -S /usr/local/mysql/data/mysql.sock -uroot -P13306 -p
socket=/var/lib/mysql/mysql.sock
log_error=/var/lib/mysql/mysqld.log
pid_file=/var/lib/mysql/mysqld.pid

# Disabling symbolic_links is recommended to prevent assorted security risks
symbolic_links=0

server_id=1
log_bin=/var/lib/mysql/mysql-bin

# replication settings #
master_info_repository=TABLE
relay_log_info_repository = TABLE
binlog_rows_query_log_events = 1
relay_log = relay.log
relay_log_recovery = 1
slave_rows_search_algorithms = 'INDEX_SCAN,HASH_SCAN'

log_slave_updates=1
gtid_mode=on
enforce_gtid_consistency=on
slave_skip_errors=all
binlog_format=row
binlog_ignore_db=test
binlog_ignore_db=information_schema
replicate_ignore_db=test
replicate_ignore_db=information_schema
auto_increment_increment=2
auto_increment_offset=1
expire_logs_days=10
#max_binlog_size = 100M

character_set_server=utf8

[client]
default_character_set=utf8

[mysql]
default_character_set=utf8
port=3306
socket=/var/lib/mysql/mysql.sock
