[mysqld]
server_id            = 1
port                 = 3306
character_set_server = utf8mb4

datadir   = /var/lib/mysql
socket    = /var/lib/mysql/mysql.sock
log_error = /var/lib/mysql/mysqld.log
pid_file  = /var/lib/mysql/mysqld.pid
log_bin   = /var/lib/mysql/mysql-bin

lower_case_table_names = 1
sql_mode="STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"

sync_binlog                    = 1
innodb_flush_log_at_trx_commit = 1

wait_timeout        = 300
interactive_timeout = 300
innodb_flush_method = O_DIRECT

symbolic_links = 0

master_info_repository       = TABLE
relay_log_info_repository    = TABLE
binlog_rows_query_log_events = 1

relay_log          = relay.log
relay_log_recovery = 1

log_slave_updates        = 1
gtid_mode                = 1
enforce_gtid_consistency = 1
binlog_format            = row

slave_skip_errors            = all
slave_rows_search_algorithms = 'INDEX_SCAN,HASH_SCAN'

auto_increment_increment = 2
auto_increment_offset    = 1
expire_logs_days         = 90

replicate_ignore_db = information_schema
replicate_ignore_db = mysql
replicate_ignore_db = performance_schema
replicate_ignore_db = sys

binlog_ignore_db = information_schema
binlog_ignore_db = mysql
binlog_ignore_db = performance_schema
binlog_ignore_db = sys

innodb_log_buffer_size    = 16M
innodb_log_file_size      = 256M
innodb_log_files_in_group = 8

[client]
default_character_set = utf8mb4

[mysql]
port                  = 3306
default_character_set = utf8mb4

socket = /var/lib/mysql/mysql.sock
